<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="i4nc4mp.myLock"
      android:versionCode="9"
      android:versionName="1.2 - revision 3a">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SettingsActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="ToggleWidget" >
			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    	<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/toggle_widget" />
</receiver>
		<!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
		<!--android:theme="@android:style/Theme.Wallpaper"-->
       <activity android:name="BasicGuardActivity"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Wallpaper"
                android:taskAffinity=""
                android:screenOrientation="nosensor"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>
       <activity android:name="DismissActivity"
                android:excludeFromRecents="true"
                android:launchMode="standard"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:taskAffinity=""
                android:screenOrientation="nosensor"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>
       <activity android:name="AutoDismissActivity"
                android:excludeFromRecents="true"
                android:launchMode="standard"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:taskAffinity=""
                android:screenOrientation="nosensor"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>
        <receiver android:name=".myLockBootReceiver" 
        android:enabled="true" 
        android:exported="false"
        android:label="myLockBootReceiver">
        <intent-filter>
        	<action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>
        <service android:name=".Toggler"></service>
        <service android:name=".BasicGuardService"></service>
        <service android:name=".AutoDismiss"></service>
        <service android:name=".BootHandler"></service>
        <service android:name=".UserPresentService"></service>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
    android:name="android.permission.WAKE_LOCK" />
    <uses-permission
    android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
    android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
    android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk android:minSdkVersion="5" />
    <uses-sdk android:targetSdkVersion="6" />
</manifest> 
