<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="i4nc4mp.myLock"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SettingsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </activity>
        
       <activity android:name="WelcomeActivity"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/> 
        
        <receiver android:name=".myLockServiceManager" 
        android:enabled="true" 
        android:exported="false"
        android:label="myLockServiceManager">
        <intent-filter>
        	<action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>
        <receiver
      android:name=".ClearAllReceiver" />
                
        <service android:name=".KGSkipService">
        </service>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
    android:name="android.permission.WAKE_LOCK" />
    <uses-permission
    android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
    android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk android:minSdkVersion="6" />
</manifest> 
