<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="i4nc4mp.customLock"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    <provider android:name="WidgIdProvider"
            android:authorities="i4nc4mp.customLock.widgidprovider"
        />
    
<activity android:name="LockActivity"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Wallpaper"
                android:launchMode="singleTask"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>
<activity android:name="WidgetScreen"
				android:alwaysRetainTaskState="true"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Wallpaper"
                android:launchMode="singleTask"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation">
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <receiver android:name="ToggleWidget" >
			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    	<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/toggle_widget" />
</receiver>        
        <service android:name=".Toggler">
        </service>
	<service android:name=".CustomLockMediator">
        </service>
        
    </application>
    <uses-permission
    android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
    android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-sdk android:minSdkVersion="5" />

</manifest> 